# Environnement virtuel
venv/

# IDE
.vscode/

# Python
__pycache__/
*.pyc

# Logs et base locale (optionnel)
logs/*.db

# Variables sensibles
.env

#Mes note sur le projet 
notes.docx

#Fichiers XML
*.xml

#fichiers de logs pas inserer 
fallback_logs.txt